# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
#*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
#*.lib

# Executables
#*.exe
*.out
*.app
/BaseForProTookit/x64/RelWithDebugInfo
/BaseForProTookit/BaseForProTookit.vcxproj.filters
*.user
*.filters
/ConsoleTest/x64/RelWithDebugInfo
/DataBaseService/x64/RelWithDebugInfo
/ProductionPlan/x64/RelWithDebugInfo
/ProductionPlanMenu/x64/RelWithDebugInfo
/x64/RelWithDebugInfo/DataBase/Access/back
/x64/RelWithDebugInfo/log
*.exp
*.iobj
*.ipdb
*.pdb
*.ilk
/CreProTookitDevelop.VC.db
/CreProTookitDevelop.VC.VC.opendb
/x64/RelWithDebugInfo/BaseForProTookit.lib
/x64/RelWithDebugInfo/DataBaseService.lib
/x64/RelWithDebugInfo/ProductionPlan.lib
/x64/RelWithDebugInfo/ProductionPlanCalculateLib.lib
/x64/RelWithDebugInfo/TestConsole.lib
/ipch/DATABASESERVICE-984de1ea
/.vs/CreProTookitDevelop/v14
/ipch/BASEFORPROTOOKIT-8e2980d8
/ReadMe(1).txt
/.vs
/ipch
